<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.80">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png')}}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-touch-icon-120x120.png')}}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-touch-icon-152x152') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon-180x180') }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/join.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <form action method="post" oninput='up2.setCustomValidity(up2.value != up.value ? "Пароли не совпадают." : "")'>
                <h1 class="form-title">
                    Регистрация
                </h1>
                <div class="form-fields">
                    <div class="form-field">
                        <input type="text" placeholder="Логин" required pattern="[A-Za-z0-9]+" title="Имя может содержать только латинские буквы и цифры." minlength="5" name="name" maxlength="128">
                    </div>
                    <div class="form-field">
                        <input type="email" placeholder="Почта" required name="mail" maxlength="128">
                    </div>
                    <div class="container">
                        <input name="up"  id="password" type="password" placeholder="Пароль" required minlength="8" maxlength="128" >
                        <i class="far fa-eye" id="togglePassword"></i>
                        <input name="up2" id="password2" type="password" placeholder="Повторите пароль" maxlength="128" required>
                        <i class="far fa-eye" id="togglePassword1"></i>
                    </div>
                </div>
                <h1 class="text">
                    {{res}}
                </h1>
                <div class="form-buttons">
                    <button type="submit" name="reg" value="registration" class="button">Регистрация </button>
                    <div class="divider">или</div>
                    <a href="login" class="button button-google">Вход</a>
                </div>
            </form>
        </div>
    </main>
</body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>